<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body>
<div>
    <a th:href="@{/boardList}"><button>홈</button></a>
    <a th:href="@{/board/{bnum}/edit(bnum = ${board.bnum})}"><button>수정하기</button></a>
    <a th:href="@{/board/{bnum}/delete(bnum = ${board.bnum})}"><button>지우기</button></a>
</div>

<div class="container">
    <div>
        <h1 th:text="${board.subject}"></h1>
        <p>작성자: [[${board.name}]]</p>
        <p>조회수: [[${board.viewCnt}]]</p>
        <textarea th:text="${board.content}" cols="50" rows="25" style="resize: none;" readonly></textarea>
    </div>

</div>

<div class="container">
    <div>
        <h3>댓글</h3>
    </div>
    <form th:action="@{/board/{bnum}/comment(bnum = ${board.bnum})}" method="post">
        <label for="comment">내용</label>
        <div class="form-group">
            <textarea id="comment" name="comment" placeholder="댓글을 입력하세요" cols="50" rows="5" style="resize: none;"></textarea>
        </div>
        <button type="submit">댓글 등록</button>
    </form>

    <div>
        <table class="table" border="1" style="table-layout:fixed;word-break:break-all;height=auto">
            <thead>
            <tr>
                <th width="375">댓글 내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="com : ${board.comments}">
                <td th:text="${com.comment}" ></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>