<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>


<body>
<div>
    <a th:href="@{/boardList}"><button>홈</button></a>
    <a th:href="@{/board/{bnum}/edit(bnum = ${board.bnum})}"><button>수정하기</button></a>
    <a th:href="@{/board/{bnum}/delete(bnum = ${board.bnum})}"><button>지우기</button></a>
</div>

<div class="container">
    <div>
        <h1 th:text="${board.bsubject}"></h1>
        <p>작성자: [[${board.bname}]]</p>
        <p>조회수: [[${board.bviewcnt}]]</p>
        <div class="container">
            <a th:text="'좋아요: ' + ${board.blike}"></a>
            <a th:href="@{/board/{bnum}/like(bnum = ${board.bnum})}"><button type="submit">좋아요</button></a>
        </div>

        <textarea th:text="${board.bcontent}" cols="50" rows="25" style="resize: none;" readonly></textarea>
    </div>

</div>
<!--
<div class="container">
    <div>
        <h3>댓글</h3>
    </div>
    <form th:action="@{/board/{bnum}/comment(bnum = ${board.bnum})}" method="post">
        <label for="comment">내용</label>
        <div class="form-group">
            <textarea id="comment" name="comment" placeholder="댓글을 입력하세요" cols="50" rows="5" style="resize: none;"></textarea>
        </div>
        <button type="submit">댓글 등록</button>
    </form>

    <div>
        <table class="table" border="1" style="table-layout:fixed;word-break:break-all;height=auto">
            <thead>
            <tr>
                <th>댓글 번호</th>
                <th width="375">댓글 내용</th>
                <th>댓글 지우기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="com : ${comments}">
                <td th:text="${com.value.cnum}"></td>
                <td th:text="${com.value.comment}" ></td>
                <td style="text-align:center">
                    <a th:href="@{/board/{bnum}/comment/delete/{cnum}(bnum = ${board.bnum}, cnum = ${com.value.cnum})}"><button>X</button></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>-->

</body>
</html>